In [1]:
import numpy as np
import pandas as pd

pd.set_option("display.max_columns", None)

# Load Data

In [2]:
df = pd.read_parquet("skor-abm-detail.parquet")

for col in df.columns:
    if "minat" in col:
        df[f"{col}_ket"] = df[col].apply(lambda x: "Minat" if x >= 60 else "Tidak Minat")

df.head()

,nm_pes,tmp_lhr,tgl_lhr,nisn,sex,id_rbldapo,nm_prop,nm_rayon,nm_sek,sts_sek,nopes_int,username,bakat_1,bakat_1_raw,bakat_1_ket,bakat_2,bakat_2_raw,bakat_2_ket,bakat_3,bakat_3_raw,bakat_3_ket,bakat_4,bakat_4_raw,bakat_4_ket,bakat_5,bakat_5_raw,bakat_5_ket,bakat_6,bakat_6_raw,bakat_6_ket,bakat_7,bakat_7_raw,bakat_7_ket,minat_1,minat_2,minat_3,minat_4,minat_5,minat_6,minat_7,minat_8,minat_9,minat_10,minat_11,minat_12,minat_13,minat_14,minat_15,minat_16,minat_17,minat_18,TBSVG,BMVWA,TBSKD,BKTKP,BKTKG,TBSPA,BKTSK,BKTSA,BKTSR,TBMSP,BKTMC,BMBKA,BKTTA,BKTTM,FSB,PMB,DBB,PDB,KTB,KLB,KSB,MHB,HSB,PIB,SBB,AFB,KIB,KKB,KMB,PPB,KPB,LDB,minat_1_ket,minat_2_ket,minat_3_ket,minat_4_ket,minat_5_ket,minat_6_ket,minat_7_ket,minat_8_ket,minat_9_ket,minat_10_ket,minat_11_ket,minat_12_ket,minat_13_ket,minat_14_ket,minat_15_ket,minat_16_ket,minat_17_ket,minat_18_ket
0,ANGGARA ARYAPUTRA RAMADHAN,JAKARTA,300908,87803668.0,L,E04BB8AF-37D7-43F1-B7FF-37C85552CD6F,DKI JAKARTA,KOTA JAKARTA PUSAT,SMP NEGERI 216,N,220101000100045,P0101000100045,38.8,4,Sedang,26.5,4,Sedang,45.8,9,Sedang,58.72,25,Sedang,43.07,1,Sedang,40.5,8,Sedang,42.4,4,Sedang,75,100,83,58,75,75,67,100,83,75,75,71,50,88,63,92,83,58,0,4,2,3,3,2,5,2,1,3,1,4,13,12,18,24,20,14,18,18,16,24,20,18,18,17,12,21,15,22,20,14,Minat,Minat,Minat,Tidak Minat,Minat,Minat,Minat,Minat,Minat,Minat,Minat,Minat,Tidak Minat,Minat,Minat,Minat,Minat,Tidak Minat
1,FERDY KAZA ZAYHAQY,JAKARTA,250409,99639258.0,L,E04BB8AF-37D7-43F1-B7FF-37C85552CD6F,DKI JAKARTA,KOTA JAKARTA PUSAT,SMP NEGERI 216,N,220101000100054,P0101000100054,62.2,10,Baik,57.7,15,Baik,55.7,15,Baik,83.92,46,Baik,66.74,5,Sedang,52.9,15,Baik,82.2,9,Baik,63,75,63,96,88,75,58,88,79,75,71,50,96,79,67,71,67,58,7,8,4,5,6,4,6,5,6,4,5,9,29,17,15,18,15,23,21,18,14,21,19,18,17,12,23,19,16,17,16,14,Minat,Minat,Minat,Minat,Minat,Minat,Tidak Minat,Minat,Minat,Minat,Minat,Tidak Minat,Minat,Minat,Minat,Minat,Minat,Tidak Minat
2,SARAH FIRDIYANA CASSIDI,JAKARTA,240708,89524659.0,P,E04BB8AF-37D7-43F1-B7FF-37C85552CD6F,DKI JAKARTA,KOTA JAKARTA PUSAT,SMP NEGERI 216,N,220101000100063,P0101000100063,38.8,4,Sedang,46.4,11,Sedang,52.5,13,Sedang,59.68,26,Sedang,51.35,2,Sedang,49.6,13,Baik,49.0,5,Sedang,63,63,50,67,58,75,71,75,75,71,63,50,67,63,67,71,58,79,4,7,4,1,8,2,6,5,4,0,2,5,14,12,15,15,12,16,14,18,17,18,18,17,15,12,16,15,16,17,14,19,Minat,Minat,Tidak Minat,Minat,Tidak Minat,Minat,Minat,Minat,Minat,Minat,Minat,Tidak Minat,Minat,Minat,Minat,Minat,Tidak Minat,Minat
3,MUHAMMAD ZAKI,JAKARTA,240608,89387353.0,L,E04BB8AF-37D7-43F1-B7FF-37C85552CD6F,DKI JAKARTA,KOTA JAKARTA PUSAT,SMP NEGERI 216,N,220101000100072,P0101000100072,33.6,3,Sedang,54.6,14,Baik,45.8,9,Sedang,71.92,38,Baik,62.15,4,Sedang,38.4,7,Sedang,49.0,5,Sedang,50,71,83,71,50,75,100,79,79,83,67,71,100,63,63,75,46,58,5,9,1,2,4,0,7,2,2,1,4,5,29,9,12,17,20,17,12,18,24,19,19,20,16,17,24,15,15,18,11,14,Tidak Minat,Minat,Minat,Minat,Tidak Minat,Minat,Minat,Minat,Minat,Minat,Minat,Minat,Minat,Minat,Minat,Minat,Tidak Minat,Tidak Minat
4,TRI RAMDANI,Jakarta,90908,89354791.0,L,E04BB8AF-37D7-43F1-B7FF-37C85552CD6F,DKI JAKARTA,KOTA JAKARTA PUSAT,SMP NEGERI 216,N,220101000100089,P0101000100089,50.7,7,Sedang,17.1,2,Kurang,44.0,8,Sedang,49.52,17,Sedang,43.07,1,Sedang,40.5,8,Sedang,42.4,4,Sedang,42,67,75,67,54,63,58,75,67,58,54,46,54,54,33,50,58,54,1,1,2,2,4,3,3,2,3,4,1,4,7,10,10,16,18,16,13,15,14,18,16,14,13,11,13,13,8,12,14,13,Tidak Minat,Minat,Minat,Minat,Tidak Minat,Minat,Tidak Minat,Minat,Minat,Tidak Minat,Tidak Minat,Tidak Minat,Tidak Minat,Tidak Minat,Tidak Minat,Tidak Minat,Tidak Minat,Tidak Minat

In [3]:
df_report = pd.read_excel("dim_abm_report.xlsx", sheet_name="Minat")
df_report

,Asesmen,Aspek_id,Aspek_desc,Kategori,Deskripsi
0,Minat,minat_1,Social Facilitating (Fasilitasi Sosial),Minat Dasar,Minat terhadap aktivitas yang banyak melibatka...
1,Minat,minat_2,Managing (Pengelolaan),Minat Dasar,Minat terhadap aktivitas dalam mengelola sebua...
2,Minat,minat_3,Business Detail (Detail Bisnis),Minat Dasar,Minat terhadap aktivitas bisnis secara teknis ...
3,Minat,minat_4,Data Processing (Pengelolaan Data),Minat Dasar,"Minat pada pengelolaan informasi baik angka, t..."
4,Minat,minat_5,Mechanical (Keteknikan),Minat Dasar,Minat terhadap aktivitas yang melibatkan peran...
5,Minat,minat_6,Natural/Outdoor (Kerja Lapangan),Minat Dasar,Minat untuk bekerja di luar ruangan atau alam ...
6,Minat,minat_7,Artistic (Kesenian),Minat Dasar,Minat untuk mengelola cipta karsa kreatif dala...
7,Minat,minat_8,Helping (Menolong),Minat Dasar,Minat untuk membantu orang lain dengan cara me...
8,Minat,minat_9,Social Science (Sains Sosial),Minat Bidang Metodis,Minat untuk terlibat dalam penanganan dan peng...
9,Minat,minat_10,Influence (Pengaruh),Minat Bidang Metodis,Minat untuk memimpin dan mengarahkan orang lai...
10,Minat,minat_11,Business System (Sistem Bisnis),Minat Bidang Metodis,Minat untuk merancang sistem bisnis secara pra...
11,Minat,minat_12,Financial Analysis (Analisis Finansial),Minat Bidang Metodis,Minat untuk melakukan pekerjaan dalam urusan k...
12,Minat,minat_13,Science (Kerja Ilmiah),Minat Bidang Metodis,Minat untuk melakukan aktivitas ilmiah misalny...
13,Minat,minat_14,Quality Control (Kendali Kualitas),Minat Bidang Praktis,Minat dalam melakukan pengecekan kesesuaian su...
14,Minat,minat_15,Manual Work (Kerja Manual),Minat Bidang Praktis,Minat terhadap pekerjaan yang membutuhkan kete...
15,Minat,minat_16,Personal Service (Pelayanan Pribadi),Minat Bidang Praktis,Minat dalam melakukan pelayanan terhadap priba...
16,Minat,minat_17,Construction and Repair (Keteknisian),Minat Bidang Praktis,Minat dalam melakukan pekerjaan teknis seperti...
17,Minat,minat_18,Basic Service (Layanan Dasar),Minat Bidang Praktis,Minat dalam melakukan pelayanan dasar atau awa...

# Melt Data

In [4]:
df_melted = pd.melt(
    frame=df,
    id_vars=["nm_prop"],
    value_vars=[col for col in df.columns if ("minat" in col) and ("ket" in col)],
    var_name="minat",
    value_name="minat_level"
)
df_melted

                   nm_prop         minat  minat_level
0              DKI JAKARTA   minat_1_ket        Minat
1              DKI JAKARTA   minat_1_ket        Minat
2              DKI JAKARTA   minat_1_ket        Minat
3              DKI JAKARTA   minat_1_ket  Tidak Minat
4              DKI JAKARTA   minat_1_ket  Tidak Minat
...                    ...           ...          ...
21024553  PAPUA BARAT DAYA  minat_18_ket        Minat
21024554  PAPUA BARAT DAYA  minat_18_ket  Tidak Minat
21024555  PAPUA BARAT DAYA  minat_18_ket        Minat
21024556  PAPUA BARAT DAYA  minat_18_ket        Minat
21024557  PAPUA BARAT DAYA  minat_18_ket        Minat

[21024558 rows x 3 columns]

In [5]:
df_report.set_index("Aspek_id")["Aspek_desc"].to_dict()

{'minat_1': 'Social Facilitating (Fasilitasi Sosial)',
 'minat_2': 'Managing (Pengelolaan)',
 'minat_3': 'Business Detail (Detail Bisnis)',
 'minat_4': 'Data Processing (Pengelolaan Data)',
 'minat_5': 'Mechanical (Keteknikan)',
 'minat_6': 'Natural/Outdoor (Kerja Lapangan)',
 'minat_7': 'Artistic (Kesenian)',
 'minat_8': 'Helping (Menolong)',
 'minat_9': 'Social Science (Sains Sosial)',
 'minat_10': 'Influence (Pengaruh)',
 'minat_11': 'Business System (Sistem Bisnis)',
 'minat_12': 'Financial Analysis (Analisis Finansial)',
 'minat_13': 'Science (Kerja Ilmiah)',
 'minat_14': 'Quality Control (Kendali Kualitas)',
 'minat_15': 'Manual Work (Kerja Manual)',
 'minat_16': 'Personal Service (Pelayanan Pribadi)',
 'minat_17': 'Construction and Repair (Keteknisian)',
 'minat_18': 'Basic Service (Layanan Dasar)'}

In [7]:
df_melted_cleaned = df_melted.copy()
df_melted_cleaned["minat"] = df_melted_cleaned["minat"].str.replace("_ket", "")
df_melted_cleaned["minat"] = df_melted_cleaned["minat"].map(df_report.set_index("Aspek_id")["Aspek_desc"].to_dict())
df_melted_cleaned

,nm_prop,minat,minat_level
0,DKI JAKARTA,Social Facilitating (Fasilitasi Sosial),Minat
1,DKI JAKARTA,Social Facilitating (Fasilitasi Sosial),Minat
2,DKI JAKARTA,Social Facilitating (Fasilitasi Sosial),Minat
3,DKI JAKARTA,Social Facilitating (Fasilitasi Sosial),Tidak Minat
4,DKI JAKARTA,Social Facilitating (Fasilitasi Sosial),Tidak Minat
...,...,...,...
21024553,PAPUA BARAT DAYA,Basic Service (Layanan Dasar),Minat
21024554,PAPUA BARAT DAYA,Basic Service (Layanan Dasar),Tidak Minat
21024555,PAPUA BARAT DAYA,Basic Service (Layanan Dasar),Minat
21024556,PAPUA BARAT DAYA,Basic Service (Layanan Dasar),Minat
21024557,PAPUA BARAT DAYA,Basic Service (Layanan Dasar),Minat

# Group Data

In [8]:
df_grouped = df_melted_cleaned.copy()
df_grouped = df_grouped.groupby(["nm_prop", "minat", "minat_level"]).size().reset_index()
df_grouped

,nm_prop,minat,minat_level,0
0,ACEH,Artistic (Kesenian),Minat,14328
1,ACEH,Artistic (Kesenian),Tidak Minat,4784
2,ACEH,Basic Service (Layanan Dasar),Minat,12854
3,ACEH,Basic Service (Layanan Dasar),Tidak Minat,6258
4,ACEH,Business Detail (Detail Bisnis),Minat,14198
...,...,...,...,...
1327,SUMATERA UTARA,Science (Kerja Ilmiah),Tidak Minat,8675
1328,SUMATERA UTARA,Social Facilitating (Fasilitasi Sosial),Minat,29555
1329,SUMATERA UTARA,Social Facilitating (Fasilitasi Sosial),Tidak Minat,6620
1330,SUMATERA UTARA,Social Science (Sains Sosial),Minat,31499
1331,SUMATERA UTARA,Social Science (Sains Sosial),Tidak Minat,4676

In [16]:
df_report.set_index("Aspek_desc")["Kategori"].to_dict()

{'Social Facilitating (Fasilitasi Sosial)': 'Minat Dasar',
 'Managing (Pengelolaan)': 'Minat Dasar',
 'Business Detail (Detail Bisnis)': 'Minat Dasar',
 'Data Processing (Pengelolaan Data)': 'Minat Dasar',
 'Mechanical (Keteknikan)': 'Minat Dasar',
 'Natural/Outdoor (Kerja Lapangan)': 'Minat Dasar',
 'Artistic (Kesenian)': 'Minat Dasar',
 'Helping (Menolong)': 'Minat Dasar',
 'Social Science (Sains Sosial)': 'Minat Bidang Metodis',
 'Influence (Pengaruh)': 'Minat Bidang Metodis',
 'Business System (Sistem Bisnis)': 'Minat Bidang Metodis',
 'Financial Analysis (Analisis Finansial)': 'Minat Bidang Metodis',
 'Science (Kerja Ilmiah)': 'Minat Bidang Metodis',
 'Quality Control (Kendali Kualitas)': 'Minat Bidang Praktis',
 'Manual Work (Kerja Manual)': 'Minat Bidang Praktis',
 'Personal Service (Pelayanan Pribadi)': 'Minat Bidang Praktis',
 'Construction and Repair (Keteknisian)': 'Minat Bidang Praktis',
 'Basic Service (Layanan Dasar)': 'Minat Bidang Praktis'}

In [9]:
df_grouped_cleaned = df_grouped.copy()
df_grouped_cleaned.columns = ["province", "minat_desc", "minat_level", "count"]
df_grouped_cleaned["pct"] = df_grouped_cleaned["count"] / df_grouped_cleaned.groupby(["province", "minat_desc"])["count"].transform("sum")
df_grouped_cleaned["minat_category"] = df_grouped_cleaned["minat_desc"].map(df_report.set_index("Aspek_desc")["Kategori"].to_dict())
df_grouped_cleaned = df_grouped_cleaned[["province", "minat_category", "minat_desc", "minat_level", "count", "pct"]]
df_grouped_cleaned

,province,minat_category,minat_desc,minat_level,count,pct
0,ACEH,Minat Dasar,Artistic (Kesenian),Minat,14328,0.749686
1,ACEH,Minat Dasar,Artistic (Kesenian),Tidak Minat,4784,0.250314
2,ACEH,Minat Bidang Praktis,Basic Service (Layanan Dasar),Minat,12854,0.672562
3,ACEH,Minat Bidang Praktis,Basic Service (Layanan Dasar),Tidak Minat,6258,0.327438
4,ACEH,Minat Dasar,Business Detail (Detail Bisnis),Minat,14198,0.742884
...,...,...,...,...,...,...
1327,SUMATERA UTARA,Minat Bidang Metodis,Science (Kerja Ilmiah),Tidak Minat,8675,0.239806
1328,SUMATERA UTARA,Minat Dasar,Social Facilitating (Fasilitasi Sosial),Minat,29555,0.817001
1329,SUMATERA UTARA,Minat Dasar,Social Facilitating (Fasilitasi Sosial),Tidak Minat,6620,0.182999
1330,SUMATERA UTARA,Minat Bidang Metodis,Social Science (Sains Sosial),Minat,31499,0.870739
1331,SUMATERA UTARA,Minat Bidang Metodis,Social Science (Sains Sosial),Tidak Minat,4676,0.129261

# Pivot Data

In [21]:
df_pivoted = df_grouped_cleaned.copy()
df_pivoted = df_pivoted.pivot(
    index=["province", "minat_category", "minat_desc"],
    columns="minat_level",
    values="pct"
)
df_pivoted

minat_level                                                                     Minat  \
province       minat_category       minat_desc
ACEH           Minat Bidang Metodis Business System (Sistem Bisnis)          0.728861
                                    Financial Analysis (Analisis Finansial)  0.706153
                                    Influence (Pengaruh)                     0.764023
                                    Science (Kerja Ilmiah)                   0.745082
                                    Social Science (Sains Sosial)            0.827386
...                                                                               ...
SUMATERA UTARA Minat Dasar          Helping (Menolong)                       0.880083
                                    Managing (Pengelolaan)                   0.835992
                                    Mechanical (Keteknikan)                  0.673531
                                    Natural/Outdoor (Kerja Lapangan)         0.876489
                                    Social Facilitating (Fasilitasi Sosial)  0.817001

minat_level                                                                  Tidak Minat
province       minat_category       minat_desc
ACEH           Minat Bidang Metodis Business System (Sistem Bisnis)             0.271139
                                    Financial Analysis (Analisis Finansial)     0.293847
                                    Influence (Pengaruh)                        0.235977
                                    Science (Kerja Ilmiah)                      0.254918
                                    Social Science (Sains Sosial)               0.172614
...                                                                                  ...
SUMATERA UTARA Minat Dasar          Helping (Menolong)                          0.119917
                                    Managing (Pengelolaan)                      0.164008
                                    Mechanical (Keteknikan)                     0.326469
                                    Natural/Outdoor (Kerja Lapangan)            0.123511
                                    Social Facilitating (Fasilitasi Sosial)     0.182999

[666 rows x 2 columns]

In [27]:
df_pivoted_cleaned = df_pivoted.copy()
df_pivoted_cleaned = df_pivoted_cleaned.reset_index()
df_pivoted_cleaned = df_pivoted_cleaned.rename_axis(None, axis=1)
df_pivoted_cleaned = df_pivoted_cleaned.sort_values(
    by=["province", "minat_category", "Minat"],
    ascending=[True, False, False],
    ignore_index=True
)
df_pivoted_cleaned

,province,minat_category,minat_desc,Minat,Tidak Minat
0,ACEH,Minat Dasar,Helping (Menolong),0.833455,0.166545
1,ACEH,Minat Dasar,Natural/Outdoor (Kerja Lapangan),0.833089,0.166911
2,ACEH,Minat Dasar,Managing (Pengelolaan),0.799498,0.200502
3,ACEH,Minat Dasar,Data Processing (Pengelolaan Data),0.796097,0.203903
4,ACEH,Minat Dasar,Social Facilitating (Fasilitasi Sosial),0.790707,0.209293
...,...,...,...,...,...
661,SUMATERA UTARA,Minat Bidang Metodis,Social Science (Sains Sosial),0.870739,0.129261
662,SUMATERA UTARA,Minat Bidang Metodis,Influence (Pengaruh),0.794803,0.205197
663,SUMATERA UTARA,Minat Bidang Metodis,Science (Kerja Ilmiah),0.760194,0.239806
664,SUMATERA UTARA,Minat Bidang Metodis,Business System (Sistem Bisnis),0.741894,0.258106
665,SUMATERA UTARA,Minat Bidang Metodis,Financial Analysis (Analisis Finansial),0.716987,0.283013

In [28]:
df_pivoted_cleaned[df_pivoted_cleaned["province"].isin(["ACEH", "BALI"])]

,province,minat_category,minat_desc,Minat,Tidak Minat
0,ACEH,Minat Dasar,Helping (Menolong),0.833455,0.166545
1,ACEH,Minat Dasar,Natural/Outdoor (Kerja Lapangan),0.833089,0.166911
2,ACEH,Minat Dasar,Managing (Pengelolaan),0.799498,0.200502
3,ACEH,Minat Dasar,Data Processing (Pengelolaan Data),0.796097,0.203903
4,ACEH,Minat Dasar,Social Facilitating (Fasilitasi Sosial),0.790707,0.209293
5,ACEH,Minat Dasar,Artistic (Kesenian),0.749686,0.250314
6,ACEH,Minat Dasar,Business Detail (Detail Bisnis),0.742884,0.257116
7,ACEH,Minat Dasar,Mechanical (Keteknikan),0.674550,0.325450
8,ACEH,Minat Bidang Praktis,Personal Service (Pelayanan Pribadi),0.796463,0.203537
9,ACEH,Minat Bidang Praktis,Construction and Repair (Keteknisian),0.770144,0.229856
10,ACEH,Minat Bidang Praktis,Quality Control (Kendali Kualitas),0.768732,0.231268
11,ACEH,Minat Bidang Praktis,Manual Work (Kerja Manual),0.753453,0.246547
12,ACEH,Minat Bidang Praktis,Basic Service (Layanan Dasar),0.672562,0.327438
13,ACEH,Minat Bidang Metodis,Social Science (Sains Sosial),0.827386,0.172614
14,ACEH,Minat Bidang Metodis,Influence (Pengaruh),0.764023,0.235977
15,ACEH,Minat Bidang Metodis,Science (Kerja Ilmiah),0.745082,0.254918
16,ACEH,Minat Bidang Metodis,Business System (Sistem Bisnis),0.728861,0.271139
17,ACEH,Minat Bidang Metodis,Financial Analysis (Analisis Finansial),0.706153,0.293847
18,BALI,Minat Dasar,Helping (Menolong),0.897531,0.102469
19,BALI,Minat Dasar,Natural/Outdoor (Kerja Lapangan),0.894339,0.105661
20,BALI,Minat Dasar,Managing (Pengelolaan),0.817927,0.182073
21,BALI,Minat Dasar,Data Processing (Pengelolaan Data),0.803400,0.196600
22,BALI,Minat Dasar,Social Facilitating (Fasilitasi Sosial),0.790893,0.209107
23,BALI,Minat Dasar,Business Detail (Detail Bisnis),0.709856,0.290144
24,BALI,Minat Dasar,Artistic (Kesenian),0.702365,0.297635
25,BALI,Minat Dasar,Mechanical (Keteknikan),0.564002,0.435998
26,BALI,Minat Bidang Praktis,Personal Service (Pelayanan Pribadi),0.797603,0.202397
27,BALI,Minat Bidang Praktis,Construction and Repair (Keteknisian),0.751743,0.248257
28,BALI,Minat Bidang Praktis,Quality Control (Kendali Kualitas),0.746857,0.253143
29,BALI,Minat Bidang Praktis,Manual Work (Kerja Manual),0.726988,0.273012
30,BALI,Minat Bidang Praktis,Basic Service (Layanan Dasar),0.580418,0.419582
31,BALI,Minat Bidang Metodis,Social Science (Sains Sosial),0.887955,0.112045
32,BALI,Minat Bidang Metodis,Influence (Pengaruh),0.736043,0.263957
33,BALI,Minat Bidang Metodis,Business System (Sistem Bisnis),0.652856,0.347144
34,BALI,Minat Bidang Metodis,Science (Kerja Ilmiah),0.642173,0.357827
35,BALI,Minat Bidang Metodis,Financial Analysis (Analisis Finansial),0.616116,0.383884

# Save Data

In [33]:
# df_pivoted_cleaned.to_excel("Calculation.xlsx", index=False)